# Linguist-generated would be more adequate, but it didn't seem to affect github stats
kindle_server/static/res/tw.css linguist-vendored
# Consider rust templates as HTML
kindle_server/src/templates/** linguist-language=html