@tailwind base;
@tailwind components;
@tailwind utilities;

form.htmx-swapping {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

/* Loading */
#sync-text {
    display: inline;
}

#sync-text.htmx-request{
    display: none;
}

#sync-loading {
    display: none;
}

#sync-loading.htmx-request{
    display: inline;
}